.custom-center {
    margin: 0 auto;
    display: flex;
    justify-content:space-around;
  }
  .aboutus{
    padding: 50px;
    
    text-align: center;
    }

  
    


/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('fonts/TribalizmFour-JpEBo.ttf') format('truetype');
}
.TV{
  font-family: 'MyCustomFont' , sans-serif;
}
.TV_BACkground{
  background: rgb(182,132,236);
  background: linear-gradient(90deg, rgba(182,132,236,0.835171568627451) 0%, rgba(150,58,241,0.9248074229691877) 0%, rgba(139,145,224,1) 42%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.Debug{
 background-color: #E6A7F3;
 border-radius: 30px;
 padding: 10px;

}
.lyric{
  background-color: #FFCAD4;
  border-radius: 30px;
  padding: 10px;
 
 }
 .FF{
  background-color: #FFCAD4;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 10px;
 
 }
 .PM{
  background-color: #FFCAD4;
  border-radius: 30px;
  padding: 10px;
 
 }
 .TV.txt {
  font-size: 200px; /* Default size for large screens */
}

@media (max-width: 1200px) {
  .TV.txt {
    font-size: 50px; /* Adjust for smaller desktops or tablets */
  }
}

@media (max-width: 768px) {
  .TV.txt {
    font-size: 50px; /* Adjust for tablets */
  }
}

@media (max-width: 576px) {
  .TV.txt {
    font-size: 50px; /* Adjust for mobile phones */
  }
}

@media (max-width: 360px) {
  .TV.txt {
    font-size: 30px; /* Adjust for very small mobile screens */
  }
}

.carousel-control-next-icon.dark-icon {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns%3D%27http://www.w3.org/2000/svg%27 fill%3D%27black%27 viewBox%3D%270 0 16 16%27%3E%3Cpath d%3D%27M11.354 8.5a.5.5 0 0 0 0-.707l-4-4a.5.5 0 0 0-.707.707L10.293 8l-3.646 3.646a.5.5 0 0 0 .707.707l4-4z%27/%3E%3C/svg%3E');
}